<script>
  function display_results(data) {
    for (var i = 0 ; i < data.length ; i += 1) {
      l = JSON.parse(data[i])
      $('#results').append('<div class="listing"><b>' + l.address + '</b><br>' + l.suburb + '</div>')
    }
  }

  function test() {
    clean()
    $.post('/search', { suburb: $('#suburb').val() }, display_results)
  }

  function clean() {
    $('#results').empty();
  }
</script>

<div class="container">
	<div class="wrapper">
		<div>
      <h2 id="test">REAio #30</h2>
    </div>
    <hr>
		<div class="form">
      <div>
        <input id="suburb" placeholder="e.g. Torquay">
      </div>
      <div class="search">
        <button onclick="test();">Search</button>
      </div>
    </div>
    <div class="v-space"></div>
    <div>
      <h2>Results</h2>
    </div>
    <hr>
    <div id="results">
    </div>
	<div>
<div>
