<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="v-space"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>REAio #30</h2>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-10">
      <input class="form-control" id="suburb" placeholder="e.g. Torquay">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" onclick="test();">
        <i class="fa fa-search"></i>&nbsp;Search
      </button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <div id="results">
        <p class="text-center">
          Your results will be displayed here.
        </p>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
  const display_results = (data) => {
    data.forEach((row) => {
      l = JSON.parse(row)
      description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      body = `<div class="card-body"><h5 class="card-title">${l.address}</h5><h6 class="card-subtitle"><i class="fa fa-globe"></i>&nbsp;${l.suburb}</h6><hr>${l.description}</div>`
      footer = `<div class="card-footer"><i class="fa fa-bed"></i>&nbsp;${l.bedrooms}&nbsp;&nbsp;<i class="fa fa-bath"></i>&nbsp;${l.bathrooms}&nbsp;&nbsp;<i class="fa fa-car"></i>&nbsp;${l.carports}</div>`
      html = `<div class="card">${body}${footer}</div><br>`
      $('#results').append(html)
    })

    if (data.length == 0) {
      $('#results').append('<p class="text-warning text-center">No results found for your search.</p>')
    }
  }

  const test = () => {
    $('#results').empty();
    $.post('/search', { suburb: $('#suburb').val() }, display_results)
  }

  $('body').keyup((e) => {
    if (e.keyCode === 13) { test() }
  })

  $('#suburb').focus();
</script>
