body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin-bottom: 0;
}

hr {
  width: 100%;
}

.v-space {
  min-height: 3rem;
}

input {
  width: 55rem;
  height: 2rem;
}

.search {
  display: flex;
  align-items: center;
}

button {
  height: 2rem;
}

.listing {
  padding: 0.5rem;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}
